body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Headings aur paras */
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navbar font */
.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Icons */
.icon {
  transition: transform 0.3s ease; /* Smooth animation */
}

.icon:hover {
  transform: scale(1.4); /* Increases the size by 20% */
}


